.attributes {color:red; font-size:20px;}
#dressaged {color:blue; font-size:30px;}
img{
    width: 50%; 
    max-width: 1000px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    
}